.titre{
    -fx-font: 40px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#buttonRelance{
    -fx-font: 22 arial;
    -fx-base: #b6e7c9;
}

#textScore{
    -fx-font: 20px Tahoma;
}

#finPartiecss{
    -fx-font: 55px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.boutonEnvoi{
    -fx-font: 15px Tahoma;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#joueurcss{
    -fx-font: 20px Tahoma;
}